.DS_Store
.AppleDouble
.LSOverride

DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

.build/
.swiftpm/

Carthage/Build/
Pods/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

.idea/
.vscode/
PhotoSoap/Info.plist
